button {
  height: 30px;
  width: 60px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 15px 15px;
  font-size: medium;
  font-family: monospace;
  display: inline;
}

h2 {
  text-align: center;
  font-family: monospace;
}

button.interval {
  height: 30px;
  width: 80px;
  font-family: monospace;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 15px 15px;
  font-size: medium;
  display: inline;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}

div.circle {
  color: black;
  margin-left: 95px;
  margin-right: 95px;
  border: 1px solid peru;
  font-family: monospace;
  border-radius: 15px 15px;
  text-align: center;
  background: rgba(255,235,205, 0.7);
}

div.timer-buttons {
  text-align: center;
  font-family: monospace;
}

.timer-buttons button {
  background-color: lightsalmon;
  opacity: 0.7;
  border: 1px solid;
}

.timer-buttons button:hover {
  opacity: 1;
  background-color: lightcoral;
}

#close-image img {
  height: 40px;  
  width: 40px;
}

#stop-button {
  display: none;
}

h1.title {
  text-align: center;
  font-family: monospace;
}

span.time {
    font-size: xx-large;
}

a {
  text-decoration: none;
}

.bg-presets p {
  margin : 10px;
  font-size: x-large;
  font-family: monospace;
}

.bg-category {
  width: 400px;
  
}

.bg-category button {
  width: 100px;
  height: 50px;
  background-size: 100px 50px;
  font-size: large;
  font-family: monospace;
  
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.bg-category button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.interval-presets {
  width: 300px;
}

.interval-presets button {
  opacity: 1;
  filter: alpha(opacity=70);
  font-family: monospace;
}

.interval-presets button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#bg-9 {
  color: white;
}
#bg-12 {
  color: white;
}
#bg-10 {
  color: white;
}