button {
    height: 30px;
    width: 60px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 15px 15px;
    font-size: medium;
    display: inline;
  }

  h2 {
    text-align: center;
  }

  button.interval {
    height: 30px;
    width: 80px;
    outline: none;
    margin: 10px;
    border: none;
    border-radius: 15px 15px;
    font-size: medium;
    display: inline;
  }
  
  button.current {
    box-shadow: 0 0 0 2px white,
                0 0 0 4px black;
  }

  div.circle {
      text-align: center;
  }

  div.timer-buttons {
      text-align: center;

  }

  button.gear {
    height: 10px;  
    width: 10px;
  }
  
  #close-image img {
    height: 40px;  
    width: 40px;
}

#stop-button {
  display: none;
}

h1.title {
    text-align: center;
}

span.time {
    font-size: xx-large;
}

a {
  text-decoration: none;
}


.bg-category {
  width: 400px;
}

.bg-category button {
  width: 100px;
  height: 50px;
  text-align: center;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.bg-category button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

.interval-presets {
  width: 300px;
}

.interval-presets button {
  opacity: 1;
  filter: alpha(opacity=70);
}

.interval-presets button:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}

#bg-9 {
  color: white;
}
#bg-12 {
  color: white;
}
#bg-10 {
  color: white;
}